.main_slogan{
    font-size: 40px;
    font-weight: bold;
    word-wrap: break-word;
    width: 500px;
    margin-bottom: 32px;
    color: #fff;
}

.under_text {
    font-style: 16px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 38px;
    width: 300px;
}