.top_header_section{
    margin-bottom: 16px;

    .container {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }
}

.bottom_header_section {
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.home_section {
    margin-bottom: 50px;

    .container {
        background-image: url('../../assets/img/home_background.jpg');
        background-repeat: no-repeat;
        padding-top: 65px;
        padding-bottom: 65px;
        background-size: cover;
        background-position: bottom;
    }
}

.types_section {
    margin-bottom: 62px;
}

.popular_section {
    margin-bottom: 75px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        padding-top: 56px;
        padding-bottom: 56px;
        background-color: #FAFAFA;
    }
}
