.top_header_section{
    margin-bottom: 16px;

    .container {
        display: flex;
        column-gap: 20px;
        justify-content: space-between;
    }
}

.bottom_header_section {
    .container {
        display: flex;
        justify-content: space-between;
    }
}

.home_section {
    margin-bottom: 50px;

    .container {
        background-image: url('../../assets/img/home_background.jpg');
        background-repeat: no-repeat;
        padding-top: 65px;
        padding-bottom: 65px;
        background-size: cover;
        background-position: bottom;
    }
}

.types_section {
    margin-bottom: 62px;
}

.popular_section {
    margin-bottom: 75px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        padding-top: 56px;
        padding-bottom: 56px;
        background-color: #FAFAFA;
    }
}

.special_section {
    margin-bottom: 70px;

    .container {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}

.services_section {
    margin-bottom: 50px;
}

.clients_section {
    margin-bottom: 80px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}

.advantages_section {
    .container {
        padding-top: 80px;
        padding-bottom: 100px;
        background-color: #FAFAFA;
    }
}

.news_section {
    margin-top: 75px;
    margin-bottom: 82px;

    .container {
        row-gap: 75px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
}

.top_footer_section {
    height: 300px;

    .container {
        height: 220px;
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #F2F2F2;
    }
}

.bottom_footer_section {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #666;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.catalog_section {
    margin-bottom: 50px;
}

.about_stainless_section {
    margin-bottom: 104px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.filter_section {
    padding-top: 10px;
    margin-bottom: 45px;
}

.products_section {
    margin-bottom: 145px;
}

.about_stainlesss_section {
    margin-bottom: 38px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.about_section {
    margin-bottom: 78px;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}