.popular_slider_list_item {
    width: calc(100%/4 - 25px);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 40px;
    justify-content: space-around;
    border-radius: 4px;
    border: 1px #E0E0E0 solid;

    h3 {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }

    &:first-child {
        position: relative;
        justify-content: end;

        img {
            top: 5px;
            position: absolute;
            height: 180px;
        }
    }
}