<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>AZOVSTEEL</title>
</head>
<body>
    <header>
        <section class="top_header">
            <div class="container">

            </div>
        </section>
        <section class="bottom_header">
            <div class="container">

            </div>
        </section>
    </header>
    <main>
        <section class="home_section">
            <div class="container">

            </div>
        </section>
        <section class="types_section">

        </section>
        <section class="popular_section">
            <div class="container">

            </div>
        </section>
        <section class="special_section">
            <div class="container">

            </div>
        </section>
        <section class="services_section">
            <div class="container">

            </div>
        </section>
        <section class="our_clients">
            <div class="container">

            </div>
        </section>
        <section class="our_advantages">
            <div class="container">
                <h2 class="advantages">Чому вибирають нас?</h2>
                <ul class="advantages-reason-item">
                    <li class="reason">
                        <img class="logo-reason" src="assets/img/reasons_logo1.png" alt="шестерня">
                        <p class="useless-text">Великий вибір якісної продукції</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo2.png" alt="" class="logo-reason">
                        <p class="useless-text">Широкий вибір металовиробів в одному місці</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo3.png" alt="" class="logo-reason">
                        <p class="useless-text">Допомога у митному таможенні вантажів</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo4.png" alt="" class="logo-reason">
                        <p class="useless-text">Доставляємо продукцію по Україні або інших країнах</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo5.png" alt="" class="logo-reason">
                        <p class="useless-text">Персональний підхід до клієнтів</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo6.png" alt="" class="logo-reason">
                        <p class="useless-text">Знижки і бонуси постійним клієнтам</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo7.png" alt="" class="logo-reason">
                        <p class="useless-text">Надання товарного кредиту та відстрочення оплати</p>
                    </li>
                    <li class="reason">
                        <img src="assets/img/reasons_logo8.png" alt="" class="logo-reason">
                        <p class="useless-text">Великий вибір послуг на складі: упаковка, різання у розмірі та ін.</p>  
                    </li>
                </ul>
            </div>
        </section>
        <section class="news_section">
            <div class="container">
                <div class="arrows-news">
                <h2 class="news">Новини</h2>
                <div class="arrows">
                <img src="assets/img/arrow.svg" class="left-arrow" alt="стрілка вліво">
                <img src="assets/img/arrow.svg" class="right-arrow" alt="стрілка вправо">
            </div>
        </div>
                <ul class="news-section-blocks">
                    <li class="news-list">
                        <div class="news-article-data">
                        <h3 class="news-article">Назва новини</h3>
                        <h4>31.12.1299</h4>
                    </div>
                        <p class="text-news">Отже реалізація намічених планових завдань значною мірою зумовлює створення моделі розвитку.</p>
                    </li>
                    <li class="news-list">
                        <div class="news-article-data">
                        <h3 class="news-article">Назва новини</h3>
                        <h4>31.12.1299</h4>
                    </div>
                        <p class="text-news">Отже реалізація намічених планових завдань значною мірою зумовлює створення моделі розвитку.</p>
                    </li>
                    <li class="news-list">
                        <div class="news-article-data">
                        <h3 class="news-article">Назва новини</h3>
                        <h4>31.12.1299</h4>
                    </div>
                        <p class="text-news">Отже реалізація намічених планових завдань значною мірою зумовлює створення моделі розвитку.</p>
                    </li>
                    <li class="news-list">
                        <div class="news-article-data">
                        <h3 class="news-article">Назва новини</h3>
                        <h4 class="data-news">31.12.1299</h4>
                    </div>
                        <p class="text-news">Отже реалізація намічених планових завдань значною мірою зумовлює створення моделі розвитку.</p>
                    </li>
                </ul>
                <div class="button-news">
                    <button class="news-button-type"><span class="button-text">Всі новини</span></button>
                </div>
            </div>
        </section>
    </main>
<footer>
        
            <section class="top-footer-section">
                <div class="container">
                    <div class="container-footer">
                        <div class="logo-laws">
                        <div class="logo">
                            <picture class="logo_img">
                                <img class="green_logo" src="assets/img/green_logo.png" alt="green_logo">
                                <img class="left_logo" src="assets/img/left_logo.png" alt="left_logo">
                                <img class="right_logo" src="assets/img/right_logo.png" alt="right_logo">
                            </picture>
                            <div class="logo_text">
                                <p class="name">AZOVSTEEL</p>
                                <div class="under_logo">
                                    <hr>
                                    <p>Carpathians</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                            <div class="confidents">
                                <h3 class="confidents-text">Політика конфіденційності</h3>
                                <p class="confidents-text-laws">Вся надана на сайті інформація не є публічною офертою, яка визначається положеннями Статті 666 Цивільного кодексу</p>
                        </div>
                    </div>
                        <div class="company-info">
                            <h3 class="footer-main-text">Компанія</h3>
                            <ul class="company-nav">
                                <li class="company-nav-detail">
                                    <a href="" class="text-nav">Головна</a>
                                </li>
                                <li class="company-nav-detail">
                                    <a href="" class="text-nav">Про компанію</a>
                                </li>
                                <li class="company-nav-detail">
                                    <a href="" class="text-nav">Доставка і Оплата</a>
                                </li>
                            </ul>
                        </div>
                        <div class="catalog-info">
                            <h3 class="footer-main-text">Каталог</h3>
                            <ul class="catalog-nav">
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Трубний прокат</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Трубопровідна арматура</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Нержавіючий прокат</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Чорний прокат</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Листовий прокат</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Жароміцний прокат</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Металоконструкції</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Феросплави</a>
                                </li>
                                <li class="catalog-nav-text">
                                    <a href="" class="text-nav">Металічні порошки</a>
                                </li>
                            </ul>
                        </div>
                            <div class="contact-info">
                                <h3 class="footer-main-text">Контакти</h3>
                                <ul class="contact-nav">
                                    <li class="contact-nav-text">
                                        <a href="" class="text-number">8 800 555 35 35</a>
                                    </li>
                                    <li class="contact-nav-text">
                                        <p class="text-email">nazarellominecraft1@gmail.com</p>
                                    </li>
                                    <li class="contact-nav-button">
                                        <button class="call-button"><span class="button-text">Замовити дзвінок</span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            <section class="bottom-footer">
                <div class="container">
                    <p class="footer-end-text">© 2009-2020 ООО “Стальэнерго” Все права защищены</p>
                    <div class="foter-end-img">
                        <img class="footer-img" src="assets/img/instagram.svg" alt="" srcset="">
                        <img class="footer-img-insta" src="assets/img/instagram.svg" alt="" srcset="">
                        <img class="footer-company" src="assets/img/agency.svg" alt="" srcset="">
                    </div>
                </div>
            </section>
        </footer>
    </body>
</html>