<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>AZOVSTEEL</title>
</head>
<body>
    <header>
        <section class="top_header">
            <div class="container">

            </div>
        </section>
        <section class="bottom_header">
            <div class="container">

            </div>
        </section>
    </header>
    <main>
        <section class="home_section">
            <div class="container">

            </div>
        </section>
        <section class="types_section">

        </section>
        <section class="popular_section">
            <div class="container">

            </div>
        </section>
        <section class="special_section">
            <div class="containerS1">
                <h2 class="special_h2">Спеціальні пропозиції</h2>
                <div class="SVGSSS">    
                    <a href="">Дивитися все</a>
                    <svg width="13" height="8" class="slide_arrow1" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 1L6.5 6L1 1" stroke="#000000" stroke-width="2"/>
                        </svg>
                    <svg width="13" height="8" class="slide_arrow2" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 1L6.5 6L1 1" stroke="#000000" stroke-width="2"/>
                        </svg>
                </div>
            </div>
            <ul class="special_list">
                <li class="special_list_item">
                    <div class="special_list_item_text">
                        <p class="special_list_item_text_p">Труба котельна 377х11 мм, ту 14-3р-55-2001 сталь 12х1мф. 11тн</p>
                        <p class="special_list_item_text_price">100 000грн/тн.</p>
                        <a href="" class="special_list_item_text_podrobnie">Докладніше</a>
                    </div>
                    <img src="assets/img/sanya_pipes_dubl2.png" alt="">
                </li>
                <li class="special_list_item">
                    <div class="special_list_item_text">
                        <p class="special_list_item_text_p">Клапан запорний 15бн3бк, Dy 100 мм, Укр 16 - 8шт</p>
                        <p class="special_list_item_text_price">90 000грн/тн.</p>
                        <a href="" class="special_list_item_text_podrobnie">Докладніше</a>
                    </div>
                    <img src="assets/img/sanya_klapan_dubl2.png" alt="">
                </li>
                <li class="special_list_item">
                    <div class="special_list_item_text">
                        <p class="special_list_item_text_p">Труба котельна 377х11 мм, ту 14-3р-55-2001 сталь 12х1мф. 11тн</p>
                        <p class="special_list_item_text_price">100 000грн/тн.</p>
                        <a href="" class="special_list_item_text_podrobnie">Докладніше</a>
                    </div>
                    <img src="assets/img/sanya_pipes_dubl2.png" alt="">
                </li>
            </ul>
        </section>
        <section class="services_section">
            <div class="container">

            </div>
        </section>
        <section class="our_clients">
            <div class="container">

            </div>
        </section>
        <section class="our_advantages">
            <div class="container">

            </div>
        </section>
        <section class="news_section">
            <div class="container">

            </div>
        </section>
    </main>
    <footer>
        <div class="container">

        </div>
    </footer>
</body>
</html>