<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css">
    <title>AZOVSTEEL</title>
</head>
<body>
    <header>
        <section class="top_header">
            <div class="container">
                
            </div>
        </section>
        <hr class="header_line">
        <section class="bottom_header">
            <div class="container">
                
            </div>
        </section>
    </header>
    <main>
        <section class="home_section">
            <div class="container">
                
            </div>
        </section>
        <section class="types_section">
            <div class="container">
                
            </div>
        </section>
        <section class="popular_section">
            <div class="container">
                
            </div>
        </section>
        <section class="special_section">
            <div class="container">

            </div>
        </section>
        <section class="services_section">
            <div class="container">

            </div>
        </section>
        <section class="our_clients">
            <div class="container">

            </div>
        </section>
        <section class="our_advantages">
            <div class="container">

            </div>
        </section>
        <section class="news_section">
            <div class="container">

            </div>
        </section>
    </main>
    <footer>
        <div class="container">

        </div>
    </footer>
</body>
</html>