main {
    .buy_section {
        .name_and_path {
            display: flex;
            justify-content: space-between;
            margin-bottom: 64px;
        }

        .img_and_configurations {
            display: flex;
            justify-content: space-between;
            column-gap: 10px;
            margin-bottom: 40px;
        }
    }
}

.product_name {
    font-size: 24px;
    font-weight: bold;
}

.path_list {
    display: flex;
    column-gap: 15px;
    align-items: center;

    &_item:first-child {
        padding-right: 25px;
    }

    &_item {
        padding-right: 15px;
        border-right: 1px solid;
        display: flex;
        align-items: center;
        height: 12px;
    }

    &_item:last-child {
        border: none;
        padding-right: 0;

        a {
            color: #BDBDBD;
        }
    }

    &_link {
        font-size: 14px;
    }
}

.product_configuration {
    display: flex;
    row-gap: 28px;
    flex-direction: column;
    margin-right: 110px;

    .configuration_list {
        display: flex;
        column-gap: 25px;

        &_item {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
        }

        .configuration_name {
            font-size: 14px;
        }

        .configuration_input {
            height: 20px;
            width: 70px;
            padding: 10px 15px;
            border-radius: 4px;
            border: 1px solid #E0E0E0;
            color: #BDBDBD;
            background-color: #F2F2F2;
            font-size: 16px;
            &::placeholder {
                color: #BDBDBD;
            }
        }
    }

    .additionally {
        .additionally_text {
            font-size: 14px;
            margin-bottom: 15px;
        }

        .additionally_input {
            width: 250px;
            font-size: 16px;
            appearance: none;
            padding: 10px 20px;
            border-radius: 4px;
            border: 1px solid #E0E0E0;
            background-image: url('../img/arrow_for_select.svg');
            background-repeat: no-repeat;
            background-position-x: 215px;
            background-position-y: center;
            -moz-appearance: none;
            -webkit-appearance: none;
            display: flex;
            column-gap: 20px;
            transition: border-color 0.5s;

         
            &:-ms-expand { 
                display: flex; 
            }
            
            &:hover { 
                border-color: #888; 
            } 

            &:focus {
                border-radius: 4px 4px 0 0;
                border-bottom: 0;
                border-color: #aaa; 
                box-shadow: 5px 10px 40px 0 rgba(0, 0, 0 ,0.12);
                color: #222;
                outline: none;
            }
        }

        .additionally_option {
            padding: 25px 20px;
            border-radius: 0 0 4px 4px;
            &::selection{  
                background-color: red;
            }
        }
    }
}

.quantity_and_sum {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;

    .quantity {
        align-items: center;
        display: flex;
        column-gap: 13px;

        &_change {
            display: flex;
            align-items: center;
            width: 70px;
            height: 20px;
            padding: 10px 15px;
            border-radius: 4px;
            border: 1px #e0e0e0 solid;
            justify-content: space-between;
        
            button {
                height: 20px;
            }
        
            .minus {
                width: 10px;
                height: 2px;
                display: block;
                background-color: #000;
            }

            .number {
                font-size: 16px;
            }
        
            .plus {
                width: 10px;
                height: 2px;
                display: block;
                background-color: #000;
        
                &::after {
                    content: '';
                    width: 10px;
                    height: 2px;
                    display: block;
                    background-color: #000;
                    transform: rotate(90deg);
                }
            }
        }

        &_text {
            font-size: 14px;
        }
    }

    .sum {
        display: flex;
        justify-content: space-between;

        &_titel {
            font-size: 14px;
        }

        &_number {
            font-weight: bold;
        }
    }

    .in_cart_btn {
        padding: 15px 19px;
        background-color: $mainColor;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        color: #fff;
    }
}

.delimiter {
    margin: 0;
    margin-bottom: 68px;
    border: none;
    height: 1px;
    background-color: #E0E0E0;
}