//header parts
header {
    margin-bottom: 40px;
    padding-top: 15px;

    .top_header{
        margin-bottom: 16px;

        .container {
            display: flex;
            column-gap: 20px;
            justify-content: space-between;
        }

        .left_part {
            display: flex;
            align-items: center;
            column-gap: 25px;
            width: 40%;
        }

        .right_part {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
        }
    }

    .header_line {
        width: 1200px;
        border: none;
        height: 1px;
        margin: 0 auto 15px;
        background-color: $hLColor;
    }

    .bottom_header {
        .container {
            display: flex;
            justify-content: space-between;
        }

        .catalog_search_and_location {
            display: flex;
            width: 100%;
            max-width: 960px;
            height: 50px;
            margin-right: 50px;
            column-gap: 30px;
        }
    }
}

//header elements
.logo {
    display: flex;
    align-items: center;
    column-gap: 5px;

    .logo_img {
        display: flex;
        align-items: center;
        position: relative;
        width: 60px;

        .green_logo {
            width: 100%;
        }

        .left_logo {
            position: absolute;
            width: calc(100%/2 - 1px);
        }

        .right_logo {
            position: absolute;
            left: 31px;
            width: calc(100%/2 - 1px);
        }
    }

    .logo_text {
        font-size: 16px;
        font-weight: 700;
        
        .name {
            font-size: 28px;
            text-align: center;
            color: $mainColor;
        }
    
        .under_logo {
            color: $logoColor;
            font-weight: 600;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            font-family: 'Roboto';
        }
    
        hr {
            width: 30px;
            border: none;
            height: 2px;
            background-color: $logoColor;
        }
    }
}
        
.where_do_we_deliver {
    font-weight: 300;
    font-size: 12px;
    word-wrap: break-word;
    width: 60%;
}

.menu_list {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.our_number {
    display: flex;
    align-items: center;
    column-gap: 10px;

    a {
        font-size: 18px;
        font-weight: bold;
    }
}

.call_phone {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px dashed;
}

.catalog_btn {
    padding: 14px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $mainColor;
    border-radius: 4px;
    column-gap: 5px;
    min-width: 121px;
    width: 100%;
    max-width: 160px;

    p {
        color: #FFFF;
        font-size: 14px;
        font-weight: 500;
    }
}

.search_input {
    width: 100%;
    max-width: 550px;
    min-width: 200px;
    border: 1px $logoColor solid;
    border-radius: 5px;
    padding-left: 58px;
    padding-right: 18px;
    background-image: url('../img/search_icon.svg');
    background-repeat: no-repeat;
    background-position: 20px;
    transition: border-color 0.5s;
    transition: border-width 0.3s;

    &::content {
        color: #837A93;
    }

    &:focus {
        outline: none;
        border: 2px $mainColor solid;
        caret-color:#837A93;
    }

    &::-webkit-input-placeholder {
        transition: opacity .5s;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        width: 15px;
	    height: 15px;
        background-image: url(../img/cross.svg);
        cursor: pointer;
    }
}

.our_location {
    display: flex;
    align-items: center;
    column-gap: 9px;

    &_text {
        width: 245px;
    }
}

.singin_or_login {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.cart_and_number {
    position: relative;
    display: flex;
    align-items: center;
    color: #FFFF;
    width: 50px;
    justify-content: center;

    .numder {
        position: absolute;
        width: 25px;
        height: 25px;
        display: flex;
        bottom: 50%;
        left: 50%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: $mainColor;
    }
}