.home_section {
    margin-bottom: 50px;

    .container {
        background-image: url('../img/home_background.jpg');
        background-repeat: no-repeat;
        padding-top: 65px;
        padding-bottom: 65px;
        background-size: cover;
        background-position: bottom;
    }
}

.main_slogan{
    font-size: 40px;
    font-weight: bold;
    word-wrap: break-word;
    width: 500px;
    margin-bottom: 32px;
    color: #fff;
}

.under_text {
    font-style: 16px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 38px;
    width: 300px;
}

.write_us_btn {
    padding: 14px 19px;
    background-color: $mainColor;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-bottom: 80px;
}

.our_successes_list {
    display: flex;
    column-gap: 95px;
    &_item {
        display: flex;
        flex-direction: column;
        justify-content: start;

        h2 {
            color: #fff;
            font-size: 24px;
            font-weight: 900;
        }

        hr {
            margin: 15px 0;
            border: none;
            height: 2px;
            width: 92px;
            background-color: $secondMainColor;
        }

        p {
            color: #fff;
            font-size: 14px;
            font-weight: 400;
        }
    }
}