.special_section {
    margin-bottom: 126px;
}

.slide_arrow1 {
    transform: rotate(90deg);
}

.slide_arrow2 {
    transform: rotate(-90deg);
}

.special_list {
    display: flex;
    column-gap: 50px;

    &_item {
        display: flex;
        width: calc(100%/3);
        height: 163px;
        position: relative;
        overflow: hidden;
        align-items: center;
        border-radius: 10px;
        box-shadow: 5px 10px 40px 0 rgb(0, 0, 0, 0.10);
        padding: 40px;

        img {
            height: 200px;
            position: absolute;
            right: -100px;
        }

        .giga_pipe {
            height: 160px;
            right: -150px;
        }

        &_text {
            width: 60%;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }
    }
}

.containerS1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 58px;    
}

.SVGSSS {
    display: flex;
    align-items: center;
    column-gap: 69px;
}

.special_h2 {
    font-size: 24px;
}