.types_section {
    margin-bottom: 62px;
}

.types_list {
    display: flex;
    column-gap: 50px;
    margin-bottom: 50px;

    &_item {
        position: relative;
        padding: 30px 35px;
        width: calc(100%/4 - 25px);
        border-radius: 4px;
        box-shadow: 5px 10px 30px 0 rgb(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        row-gap: 35px;
        justify-content: space-between;
        overflow-x: hidden;

        .types_img1 {
            position: absolute;
            right: 0;
            top: 12px;
        }

        .types_img2 {
            position: absolute;
            right: 14px;
            top: 17px;
        }

        .types_img3 {
            position: absolute;
            right: 11px;
            top: 13px;
        }

        .types_img4 {
            position: absolute;
            right: -10px;
            top: -5px;
        }

        .types_list_h2 {
            font-size: 14px;
            font-weight: bold;
            position: relative;
            z-index: 1;
        }

        .watch_all {
            color: #828282;
            text-decoration: underline;
            font-size: 14px;
        }
    }
}

.types_x2_list {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
    z-index: 1;

    .types_x2_list_link {
        font-style: 14px;
    }
}

.types_btn {
    display: flex;
    align-items: center;
    column-gap: 26px;
    justify-content: center;

    .watch_btn {
        padding: 15px 30px;
        background-color: $mainColor;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
    }

    .download_btn {
        padding: 15px 30px;
        background-color: $secondMainColor;
        border-radius: 4px;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
    }
}