/* roboto-300 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v30-cyrillic_latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-cyrillic_latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto";
  background-image: url(../img/mountains.jpg);
  background-size: contain;
}

.wraper {
  overflow-x: hidden;
  position: relative;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  display: block;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.advantages {
  color: #000000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 58px;
}

.advantages-reason-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px 50px;
}

.reason {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 120px;
  width: calc(25% - 82px);
  border: 2px solid #BDBDBD;
  border-radius: 5px;
  padding: 14px 20px;
}

.logo-reason {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}

.useless-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.our_advantages {
  margin-bottom: 80px;
  background-color: #FAFAFA;
  padding-bottom: 80px;
}

.news {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.arrows-news {
  margin-bottom: 72px;
}

.arrows-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrows {
  display: flex;
  gap: 61px;
  height: 10px;
}

.left-arrow {
  transform: rotate(90deg);
}

.right-arrow {
  transform: rotate(270deg);
}

.news-section-blocks {
  display: flex;
}

.news-article {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.news-article-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.text-news {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.98px;
}

.button-news {
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-list {
  margin-bottom: 75px;
}

.news-button-type {
  width: 162px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: #387C43;
  border: 0px;
}

.button-text {
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.news_section {
  margin-bottom: 72px;
}

footer {
  padding-top: 40px;
  background-color: #F2F2F2;
}

.logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  margin-bottom: 116.5px;
}
.logo .logo_img {
  display: flex;
  align-items: center;
  position: relative;
  width: 60px;
}
.logo .logo_img .green_logo {
  width: 100%;
}
.logo .logo_img .left_logo {
  position: absolute;
  width: calc(50% - 1px);
}
.logo .logo_img .right_logo {
  position: absolute;
  left: 31px;
  width: calc(50% - 1px);
}
.logo .logo_text {
  font-size: 16px;
  font-weight: 700;
}
.logo .logo_text .name {
  font-size: 28px;
  text-align: center;
  color: #387C43;
}
.logo .logo_text .under_logo {
  color: #979897;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
  font-family: "Roboto";
}
.logo .logo_text hr {
  width: 30px;
  border: none;
  height: 2px;
  background-color: #979897;
}

.confidents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confidents-text {
  color: #000;
  font-size: 12px;
  line-height: 11px;
  text-decoration-line: underline;
}

.confidents-text-laws {
  color: #4E4E4E;
  font-size: 10px;
  line-height: 11px;
  width: 199px;
}

.text-nav {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-main-text {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
}

.footer-main-text {
  margin-bottom: 20px;
}

.company-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.company-nav-detail {
  color: #000;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.text-number {
  color: #000;
  font-size: 18px;
}

.text-email {
  color: #000;
  font-size: 18px;
}

.call-button {
  width: 162px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 2px;
  background-color: #F3AA3C;
  border: 0px;
}

.button-text {
  color: #FFF;
  text-align: center;
  font-size: 12px;
}

.footer-end {
  width: 1200px;
  height: 87px;
  background-color: #666;
}

.footer-end-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}/*# sourceMappingURL=main.css.map */