.slider_btns {
    display: flex;
    column-gap: 60px;
}

.popular_slider_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;

    .popular_slider_headline {
        font-size: 24px;
        font-weight: bold;
    }
}

.slider_body {
    overflow: hidden;
    display: flex;
    column-gap: 50px;
}

._3slides_body {
    width: calc((100% * 3) + 50px * (3 - 1));
    justify-content: center;
}