.slider_btns {
    display: flex;
    column-gap: 60px;
}

.popular_slider_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    width: 100%;

    .popular_slider_headline {
        font-size: 24px;
        font-weight: bold;
    }
}

.slider_body {
    display: flex;
    column-gap: 50px;
    transition: left 0.3s;
    transition: right 0.3s;
    width: calc((100% * 3) + 100px);
    justify-content: center;
    position: relative;
}

.slideLeft {
    animation-name: left_slide;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

.slideRight {
    animation-name: right_slide;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
}

//animations
@keyframes left_slide {
    0% {
        left: 0;
    }

    95% {
        left: calc(100% + 50px);
    }

    100% {
        left: calc(100% + 50px);
    }
}

@keyframes right_slide {
    0% {
        right: 0;
    }

    95% {
        right: calc(100% + 50px);
    }

    100% {
        right: calc(100% + 50px);
    }
}