.catalog_btn {
    padding: 14px 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #387C43;
    border-radius: 4px;
    column-gap: 5px;
    min-width: 121px;
    width: 100%;
    max-width: 160px;

    p {
        color: #FFFF;
        font-size: 14px;
        font-weight: 500;
    }
}

.singin_or_login_btn {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.cart_and_number_btn {
    position: relative;
    display: flex;
    align-items: center;
    color: #FFFF;
    width: 50px;
    justify-content: center;

    .number {
        position: absolute;
        width: 25px;
        height: 25px;
        display: flex;
        bottom: 50%;
        left: 50%;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        background-color: #387C43;
    }
}

.write_us_btn {
    padding: 14px 19px;
    background-color: #387C43;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    margin-bottom: 80px;
}

.watch_btn {
    padding: 15px 30px;
    background-color: #387C43;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.download_btn {
    padding: 15px 30px;
    background-color: #F3AA3C;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.left_arrow_btn {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    .left_arrow {
        transform: rotate(90deg);
    }
}

.right_arrow_btn {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    .right_arrow {
        transform: rotate(-90deg);
    }
}