.menu_list {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.our_successes_list {
    display: flex;
    column-gap: 95px;
}

.types_list {
    display: flex;
    column-gap: 50px;
    margin-bottom: 50px;
}

.types_list_list {
    display: flex;
    flex-direction: column;
    position: relative;
    row-gap: 20px;
    z-index: 1;
}

.popular_slider_list {
    display: flex;
    column-gap: 50px;
    width: calc(100%/3);
}

.services_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 50%;
    padding-bottom: 60px;
    padding-top: 60px;
    column-gap: 20px;

    &_item {
        width: calc(100%/2 - 10px);
        height: 50px;
        display: flex;
        align-items: center;
        column-gap: 25px;
    }

    &_link {
        text-decoration: underline;
    }
}

.advantages_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 44px 50px;
    width: 100%;
}

.company_info_list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    &_link {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}

.catalog_info_list {
    display: flex;
    row-gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;

    &_item {
        width: calc(100%/2 - 10px);
    }

    &_link {
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
}

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    gap: 34.5px 50px;

    &_item {
        height: 35px;
        display: flex;
        border-radius: 4px;
        column-gap: 17px;
        padding: 28px 22px;
        align-items: center;
        width: calc(100%/4 - 81.5px);
        transition: box-shadow 0.3s;

        &:hover {
            box-shadow: 5px 10px 40px 0 rgba($color: #000000, $alpha: 0.1);
        }
    }

    &_link {
        font-weight: 600;
        font-size: 16px;
        text-decoration: underline;
    }
}

.path_list {
    display: flex;
    column-gap: 15px;
    align-items: center;

    &_item:first-child {
        padding-right: 25px;
    }

    &_item {
        padding-right: 15px;
        border-right: 1px solid;
        display: flex;
        align-items: center;
        height: 12px;
    }

    &_item:last-child {
        border: none;
        padding-right: 0;

        a {
            color: #BDBDBD;
        }
    }

    &_link {
        font-size: 14px;
    }
}

.configuration_list {
    display: flex;
    column-gap: 25px;

    &_item {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &_name {
        font-size: 14px;
    }

    &_input {
        height: 20px;
        width: 70px;
        padding: 10px 15px;
        border-radius: 4px;
        border: 1px solid #E0E0E0;
        color: #BDBDBD;
        background-color: #F2F2F2;
        font-size: 16px;
        &::placeholder {
            color: #BDBDBD;
        }
    }
}