.footer_end_text {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    color: #ffffff;
}

.footer_img {
    width: 18px;
    height: 18px;
    margin-right: 65px;
}

.footer_img_insta {
    width: 18px;
    height: 18px;
    margin-right: 100px;
}

.footer_company {
    width: 42px;
    height: 14.99px;
}

.foter_end_img {
    display: flex;
}